---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";
import MissionSection from "../components/MissionSection.astro";
import LearnSection from "../components/LearnSection.astro";
import TeamSection from "../components/TeamSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="img/img_00.jpg" />
    <meta
      name="description"
      property="og:description"
      content="Microcosm Foods"
    />
    <title>Microcosm Foods </title>
  </head>
  <body class="pt-16">
    <div id="top"></div>
    <Navigation />
    <header class="landing-header">
      <Hero imgSrc="img/header-banner.png">
        <h1
          class="text-2xl sm:text-3xl md:text-5xl lg:text-6xl font-chivo text-black tracking-tight leading-tight"
          style="line-height: 1;"
        >
          Making the benefits of <br/>
          fermentation accessible to all.
        </h1>
      </Hero>
    </header>
    <main>
      <MissionSection
        id="mission"
        title="Mission"
        text="Connecting fermented foods, microbes, and their metabolites to health benefits."
        imgSrc="/img/science.svg"
      />

      <LearnSection
        id="learn"
        title="Learn"
        imagePosition="left"
        imgSrc="img/img_01.jpg"
        imgAlt="Img Alt"
      />

      <TeamSection
        id="team"
        title="Team"
        imagePosition="right"
        imgSrc="img/img_01.jpg"
        imgAlt="Img Alt"
      />

      <ContactSection />
    </main>
  </body>
  <Footer
    title="Microcosm Foods"
    text="Making the benefits of fermentation accessible to all."
  />
</html>
