---
const { title, text, imgSrc } = Astro.props;
---

<section
  class="bg-cover bg-center h-[700px] relative"
  style={`background-image: url(${imgSrc}); background-size: cover; background-repeat: no-repeat;`}
>
  <div class="absolute bottom-0 left-0 p-8">
    <slot />
  </div>
</section>
